.alert {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  font-size: 24px;
  background-color: red;
  text-align: center;
  height: 80px;
  width: 210px;
  color: #fff;
  border-radius: 10px;
}
